.gold-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr)); /* Adjusted for better responsiveness */
    gap: 20px;
    padding: 20px;
  }
  
  .gold-grid p {
    padding: 10px 15px;
    margin: 0;
    color: var(--color-text);
    font-size: 6rem; 
  }
  
  .gold-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .gold-grid {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); 
      }
    .gold-grid p {
      font-size: 3rem; 
    }
  }
  
  @media (max-width: 1024px) {
    .gold-grid {
      grid-template-columns: repeat(auto-fill, minmax(800px, 1fr)); 
    }
  }