.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr)); /* More responsive grid layout */
  gap: 20px;
  padding: 20px;
}

.news-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.news-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.news-item h3, .news-item p {
  padding: 10px 15px;
  margin: 0;
  color: var(--color-text);
  font-size: 5rem; 
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .news-item h3 {
    font-size: 3rem; /* Smaller font size for h3 on smaller screens */
  }

  .news-item p {
    font-size: 2rem; /* Smaller font size for p on smaller screens */
  }

  .news-grid {
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}

@media (max-width: 1024px) {
  .news-grid {
    grid-template-columns: repeat(auto-fill, minmax(800px, 1fr)); /* Adjust for medium screens */
  }
}